:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
}

body {
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color) !important;
}

/* Button */
.button {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.button.secondary {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* HEADER */

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-first-part {
    color: var(--accent-color);
}

.logo-second-part{
    color: #000000;
}


/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;       
}

.site-nav .link.current {
    color: var(--accent-color);
}

.header .email, .header .phone {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* section */
.section {
    background-color: #F5F5F5;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

/*Section our team*/
.section-our-team {
    background-color: #F5F4FA;
}

.section-our-team .section-title {
    color: var(--title-text-color);
}

.team-member-list .team-member-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-member-list .team-member-position {
    font-size: 16px;
    line-height: 1.18;
}

/*Section feature list*/

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

/*Section portfolio*/

.portfolio-list .portfolio-item-title{
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.portfolio-list .portfolio-item-text{
        font-size: 16px;
        line-height: 1.87;
}
/* hero */
.hero {
    text-align: center;
}

.hero, .footer{
    background-color: #2F303A;
}
.hero-title {
    margin: 0 auto;
    width: 696px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}



/* Footer */



.footer .logo-second-part {
    color: var(--primary-white-color);
}

.footer .email, .footer .phone, .footer .address {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71em;
    letter-spacing: 0.03em;
}

.footer .address {
    color: var(--primary-white-color);
}




/* цвет основного текста  #757575 */
/* цвет вторичного текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */